.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deleteBtn svg {
 font-size: 32px;
}
.postControl {
    display: flex;
    align-items: center;
    padding: 0;
}